* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url('./Images/phelyksInc.jpeg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.topbar {
    background: rgba(255,255,255,0.5);
    color: greenyellow;
    backdrop-filter: blur(4.3px);
    -webkit-backdrop-filter: blur(4.3px);
    padding: 0px 0px 0px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius:15px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 70px;
}

.topbar h1 {
    color: black;
    padding: 5px 0px 0px 30px;
}