* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url('./Images/phelyksInc.jpeg');
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.topbar {
    background: rgba(3, 0, 0, 0.308);
    backdrop-filter: blur(2.5px);
    -webkit-backdrop-filter: blur(2.5px);
    padding: 0px 0px 0px 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 50px;
}

.topbar h1 {
    color: rgb(228, 205, 205);
    padding: 5px 0px 0px 0px;
    float: left;
    font-size: 35px;
}

.topbar h1:hover {
    color: orangered;
}


.menu {
    color: black;
    float: left;
    margin: 10px 0px 0px 40px;
    font-size: 20px;
}

.topbar ul{
    float: left;
    display: flex;
    justify-content: left;
    align-items: left;
}

.topbar ul li {
    list-style: none;
    margin: 5px 60px 0px 0px;
}


.topbar ul li a {
    text-decoration: none;
    color: rgb(228, 205, 205);
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.topbar ul li a:hover {
    color: orangered;
    
}

.search{
    float: right;
    margin: 0px 0px 0px 900px;
    width: 180px;
    padding: 0px 0px 0px 0px;
    color: white;
}

.srch{
    float: left;
    width: 120px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    border-right: none;
    border-radius: 10px 0px 0px 10px;
    margin: 5px 0px 0px 57px;
    font-size: 16px;
    color: white;
    padding: 10px;
}

.srch:focus {
    outline: none;
}

.btn{
    width: 60px;
    height: 40px;
    /* padding: 8px; */
    color: black;
    border: 2px solid white;
    border-radius: 0px 0px 10px 0px;
    margin: 5px 10px 0px 0px;
    float: right;
}

.btn:focus {
    outline: none;
}